# Python cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Virtual Environment
venv/
.env/

# IDE files
.vscode/
.idea/

# Generated datasets
datasets/processed/*.pkl

# OS files
.DS_Store
Thumbs.db