# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Streamlit
.streamlit/

# Databases & Vector DB
vector_db/chroma/
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# Reports & PDFs
reports/

# OS files
.DS_Store
Thumbs.db
